<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Shopee_Autobuy_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Shopee_Malaysia_Autobuy_Bot_Pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<Shopee_Autobuy_Bot.Properties.Settings>
   <setting name="DontShowThisAgain" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ID" serializeAs="String">
    <value />
   </setting>
  </Shopee_Autobuy_Bot.Properties.Settings>
		<Shopee_Malaysia_Autobuy_Bot_Pro.Properties.Settings>
			<setting name="ProductLinkMalaysia" serializeAs="String">
				<value />
			</setting>
			<setting name="CountdownMode" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CountdownHour" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="CountdownMinutes" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="CountdownMicroSeconds" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="PaymentMethod" serializeAs="String">
				<value />
			</setting>
			<setting name="WalletPin" serializeAs="String">
				<value />
			</setting>
			<setting name="Courier" serializeAs="String">
				<value />
			</setting>
			<setting name="VariationCheck" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="VariationString" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductQuantity" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="DisableImageExtension" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CourierCheck" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Website" serializeAs="String">
				<value />
			</setting>
			<setting name="BankType" serializeAs="String">
				<value />
			</setting>
			<setting name="ShopeePayPin" serializeAs="String">
				<value />
			</setting>
			<setting name="TimeOut" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="RedeemCoin" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PlaySound" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Headless" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Refresh" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FlashSaleMode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ID" serializeAs="String">
				<value />
			</setting>
			<setting name="RefreshSeconds" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="Logging" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CountdownSeconds" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="TestMode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CardLast4Digit" serializeAs="String">
				<value />
			</setting>
			<setting name="RedeemShopeeVoucher" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ClaimShopVoucher" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="BuyMode" serializeAs="String">
				<value />
			</setting>
			<setting name="BelowSpecificPrice" serializeAs="String">
				<value />
			</setting>
			<setting name="BelowSpecificPriceCheckout" serializeAs="String">
				<value />
			</setting>
			<setting name="ScheduleBot" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ScheduleBotTomorrow" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DontShowThisAgain" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DontShowThisAgainTipsPrompt" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowTipsPromptDontShowThisAgain" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShopeeRegion" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductLinkSingapore" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductLinkThailand" serializeAs="String">
				<value />
			</setting>
			<setting name="product_strBuyNowButton" serializeAs="String">
				<value>//button[contains(@class, 'btn-solid-primary') and contains(text(), 'buy now')]</value>
			</setting>
			<setting name="product_strProductVariationFlexBox" serializeAs="String">
				<value>//div[contains(@class, 'flex items-center TvGNLb')]</value>
			</setting>
			<setting name="product_strQuantityTextBox" serializeAs="String">
				<value>//input[contains(@class, '_14flVw z4c5Da')]</value>
			</setting>
			<setting name="product_strCurrentProductPrice" serializeAs="String">
				<value>//div[contains(@class, 'pmmxKx')]</value>
			</setting>
			<setting name="product_strSaleBanner" serializeAs="String">
				<value>//div[contains(@class, 'SwrRMG')]</value>
			</setting>
			<setting name="cart_strCheckOut" serializeAs="String">
				<value>//*[@id="main"]/div/div[2]/div[1]/div/div[3]/div[2]/div[7]/button[4]</value>
			</setting>
			<setting name="cart_strSelectAllCheckbox" serializeAs="String">
				<value>//*[@id="main"]/div/div[2]/div/div/div[3]/div[2]/div[7]/div[1]/label/div</value>
			</setting>
			<setting name="cart_strProductPriceLabel" serializeAs="String">
				<value>//span[@class='_1CXksa']</value>
			</setting>
			<setting name="cart_strClaimShopVC" serializeAs="String">
				<value>//button[contains(@class, 'btn') and contains(text(), 'Claim')]</value>
			</setting>
			<setting name="cart_strCartEmptyLabel" serializeAs="String">
				<value>//div[contains(@class, 'xkMOGx') and contains(text(), 'Your shopping cart is empty')]</value>
			</setting>
			<setting name="checkout_strPlaceOrder" serializeAs="String">
				<value>//button[contains(@class, 'stardust-button') and contains(text(), 'Place Order')]</value>
			</setting>
			<setting name="chekcout_strClaimShopeeVcButton" serializeAs="String">
				<value>//button[contains(@class, '_6dwQij') and contains(text(), 'Select Voucher')]</value>
			</setting>
			<setting name="checkout_strShopeeVcContainer" serializeAs="String">
				<value>//div[contains(@class, 'qa9DDd U0bjBP VK0V4t')]</value>
			</setting>
			<setting name="checkout_strShopeeVcOkButton" serializeAs="String">
				<value>//button[contains(@class, 'btn') and contains(text(), 'OK')]</value>
			</setting>
			<setting name="checkout_strRedeemCoinCheckbox" serializeAs="String">
				<value>//*[@id="main"]/div/div[2]/div[2]/div[3]/div[2]/div[2]/label</value>
			</setting>
			<setting name="checkout_strChangePaymentButton" serializeAs="String">
				<value>//div[contains(@class, '_1n5Ut6') and contains(text(), 'change')]</value>
			</setting>
			<setting name="chromeProfile" serializeAs="String">
				<value />
			</setting>
		</Shopee_Malaysia_Autobuy_Bot_Pro.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
